@import url("https://fonts.googleapis.com/css?family=Baloo");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: #FFF;
}

body {
  width: 100%;
  border: 0px;
  margin: 0px 0px 100px 0px;
  padding: 0px;
}

.italic,
.italics {
  font-style: italic;
}

img {
  -ms-interpolation-mode: bicubic;
}

h2 {
  margin-top: 0px;
  font-size: 19px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

.screenshot {
  display: block;
  width: 100%;
  max-width: 933px;
  margin: 0px auto 20px auto;
}

th {
  font-weight: normal;
}

h1 {
  margin: 36px 0px;
  color: #04A888;
  font-family: "Baloo", sans-serif;
  font-size: 57px;
  font-weight: 900;
  text-align: center;
}

h1 img {
  margin: 0px 7px 0px 0px;
  vertical-align: -23px;
}

/* GitHub-Corner */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github-corner svg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  height: 80px;
  border: 0px;
  fill: #18BC9C;
}

.github-corner .octo-arm {
  fill: #FFF;
  transform-origin: 130px 106px;
}

.github-corner .octo-body {
  fill: #FFF;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* The download buttons for specific to each OS */
.linux .dl-btn-win,
.mac .dl-btn-win,
.linux.arch32 .dl-btn-lin,
.linux.arch64 .dl-btn-lin,
.dl-btn-lin,
.dl-btn-lin32,
.dl-btn-lin64,
.dl-btn-osx {
  display: none;
}

.dl-btn-win,
.dl-btn-osx,
.dl-btn-lin32,
.dl-btn-lin64 {
  height: 60px;
}

.dl-btn-win,
.dl-btn-osx,
.dl-btn-lin32,
.dl-btn-lin64,
.linux .dl-btn-lin {
  background: #C344C5;
  margin: 0px auto 16px auto;
  padding: 0px;
  color: #FFF;
  font-family: "Baloo", sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 65px;
  text-align: center;
  overflow: hidden;
}

.mac .dl-btn-osx,
.linux .dl-btn-lin,
.linux.arch32 .dl-btn-lin32,
.linux.arch64 .dl-btn-lin64 {
  display: block;
}

.linux.arch32 .dl-btn-lin,
.linux.arch32 .dl-btn-lin64,
.linux.arch64 .dl-btn-lin,
.linux.arch64 .dl-btn-lin32 {
  display: none !important;
}

.linux .dl-btn-lin {
  padding: 10px 0px 0px 0px;
  font-size: 25px;
}

.dl-btn-win:hover,
.dl-btn-osx:hover,
.dl-btn-lin32:hover,
.dl-btn-lin64:hover,
.dl-btn-lin a:hover {
  background: #973d99;
}

.dl-btn-win a,
.dl-btn-osx a,
.dl-btn-lin a,
.dl-btn-lin32 a,
.dl-btn-lin64 a {
  display: inline-block;
  width: 100%;
  color: #FFF;
}

.dl-btn-lin a {
  display: inline-block;
  width: 50%;
  padding: 2px 0px 6px 0px;
  font-size: 30px;
}

.dl-btn-win a:hover,
.dl-btn-win a:active,
.dl-btn-win a:visited,
.dl-btn-win a:focus,
.dl-btn-osx a:hover,
.dl-btn-osx a:active,
.dl-btn-osx a:visited,
.dl-btn-osx a:focus,
.dl-btn-lin a:hover,
.dl-btn-lin a:active,
.dl-btn-lin a:visited,
.dl-btn-lin a:focus,
.dl-btn-lin32 a:hover,
.dl-btn-lin32 a:active,
.dl-btn-lin32 a:visited,
.dl-btn-lin32 a:focus,
.dl-btn-lin64 a:hover,
.dl-btn-lin64 a:active,
.dl-btn-lin64 a:visited,
.dl-btn-lin64 a:focus {
  text-decoration: none;
}

/* Archive Table */
#output thead tr {
  background: #660086;
  color: #FFF;
}

.new-release td {
  border-top: 2px solid #57bbc2 !important;
}

.latest-release td {
  border-top: 0px !important;
}

/* OS totals chart */
#os {
  width: 100%;
  margin: -8px 0px 4px 0px;
  font-size: 0px;
  visibility: hidden;
}

#os .win,
#os .lin,
#os .osx {
  height: 20px;
  color: #FFF;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  cursor: default;
}

#os .win {
  background: #297FD8;
}

#os .lin {
  background: #9500BA;
}

#os .osx {
  background: #FD51B0;
}

#total {
  margin: 0px 0px 25px 0px;
}
