
// App specific styles

#imagealts
    height: 256px
    font-family: monospace
    font-size: 12px

#output-btn
    border: 0px
    margin: 0px
    padding: 0px
    button
        border-top-left-radius: 0px
        border-bottom-left-radius: 0px
    ul
        right: 2px
        left: auto
        min-width: 86px

#standard
    left: auto

#button-row .btn-sm
    vertical-align: -11px

#results
    position: fixed
    bottom: 0px
    left: 50%
    width: 95%
    margin: 0px auto
    transform: translateX(-50%)
    z-index: 9
    h4
        margin: -2px 0px 2px

#outputFolderIcon
    top: -31px
    left: -12px
    background: #FFF
    padding: 4px 0px 0px 6px
    cursor: pointer

#button-badges .disabled
    cursor: pointer
    pointer-events: auto

#imageAltsModal
    position: fixed
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
    background: rgba(0, 0, 0, 0.6)
    z-index: 1090

@media (min-width: 768px)
    #imageAltsModal .modal-dialog
        width: calc(100% - 70px);
