@font-face
    font-family: 'balooregular'
    src: url('../_fonts/baloo.ttf') format('ttf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'lato'
    font-style: normal
    font-weight: 400
    src: local('Lato Regular'), local('Lato-Regular'), url('../_fonts/lato-regular.ttf') format('ttf')
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215

@font-face
    font-family: 'lato'
    font-style: normal
    font-weight: 700
    src: local('Lato Bold'), local('Lato-Bold'), url('../_fonts/lato-bold.ttf') format('ttf')
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215

@font-face
    font-family: 'lato'
    font-style: italic
    font-weight: 400
    src: local('Lato Italic'), local('Lato-Italic'), url('../_fonts/lato-italic.ttf') format('ttf')
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215
