@charset "utf-8";                     // Character type for the stylesheet

@import "_fonts.sass";                // Font imports

//Stuff that goes at the start
@import "_var.sass";                  // Sass Variables and Mixins - Does not effect page, but other Sass files reference this file.

// Since we are only rendering CSS in one browser, do we even need these?
// @import "_meyer.sass";              // Resets browser defaults so browsers render pages the same
// @import "_normalize.sass";          // Removes inconsistencies in the way different browsers render items by default. Bootstrap comes with Normalize.

// Plugins
@import "_ven.uikit-var.sass";
@import "../node_modules/uikit/src/scss/variables.scss";
@import "../node_modules/uikit/src/scss/uikit.scss";

//Stuff that effects every page
@import "_main.sass";                 // Main CSS for the app
@import "_header.sass";               // CSS for the header and navigation at the top of the app.
@import "_footer.sass";               // CSS for the footer at the bottom of the app.

//Stuff that effects specific pages
@import "_app.sass";                  // CSS specifc to the app
@import "_modal.sass";                // Modal Vue component
@import "_spinner.sass";              // 3d spinning cube

//Stuff that goes at the end
@import "_ven.simple-donut.sass";     // Image Alts progress bar - github.com/simple-donut
@import "_mediaqueries.sass";         // Adjusts the CSS of elements depending on window resolution/size.
